section {
    margin: 1% auto;
    display: block;
    width: 25%;
    position: center;
    /*border: 3px solid hsl(0, 50%, 50%, 1);*/
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 2px 2px grey;
}
img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
hr{
    color:hsl(0,0%,50%, .3);
}
p{
    margin: 4px;
}